<h1>Games#game</h1>
<p>Find me in app/views/games/game.html.erb</p>

<%= @grid  %>


<form action="/games/score" method="get">
  <label for="question">Guess your best word!</label>
  <input type="text" name="guess" placeholder="What is your guess?">
  <input type="hidden" name="grid" value="<%=@grid%>">
  <input type="hidden" name="start_time" value="<%=@start_time%>" >
  <input type="submit">

</form>



