<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>

<p>This was the grid:</p>
<%= @grid  %>

<p>This is your guess:</p>
<%= @guess  %>



<p>And this was your score:</p>
<%= @score %>
<%= @message %>

